<%- include("partials/header") -%>

  <style>
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
  </style>
  <h1 class ="blogTitle">About</h1>
  <p class ="blogContent" style="font-size:20px"> Hi, I am Abhay Sharma. I am 20 years old and living in Delhi. I am currently in 4th year and pursuing B.Tech from Netaji Subhas University Of Technology, Delhi.
    Out of curiosity and learning I have developed this Website. This is a public BLOG WEBSITE where people can Post blogs and most importantly any one can Delete any
    blog so this will maintain healthy environment in blogging world.

    <br>
    <br>
    <br>
    Enjoy...❤️
  </p>

<%- include("partials/footer") -%>
